<div class="container-fluid" >
    <mat-sidenav-container class="example-container" style="background-color: #f3f4fc;">
        <mat-sidenav opened mode="side">
            <ul>
                <li><a href=""><i class="fa fa-map-marker fa-2x"></i></a></li>
                <li><a href=""><i class="fa fa-user-o fa-2x" aria-hidden="true"></i></a></li>
                <li><a href=""><i class="fa fa-bell fa-2x"></i></a></li>
                <li><a href=""><i class="fa fa-users fa-2x"></i></a></li>
                <li><a href=""><i class="fas fa-receipt-o fa-2x"></i></a></li>
                <li><a href=""><i class="fa fa-bullseye fa-2x"></i></a></li>
                <li><a href=""><i class="fa fa-chrome fa-2x"></i></a></li>
                <li class="log"><a href=""><i class="fa fa-sign-out fa-2x"></i></a></li>

            </ul>
        </mat-sidenav>
        <div class="container">
            <h1 class="m-4 ti">Create Booking</h1>
            <div class="row">
                <div class="col">
                    <div class="card maincard p-4">
                        <form class="w-100">
                            <div class="form-group col-md-6">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" placeholder="Title">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="date">Date</label>
                                <div class="form-control date">
                                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                                        placeholder="5/13/2020">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </div>
                            </div>
                            <div class="form-group col">
                                <label for="time">Time</label>
                                <div class="form-row">
                                    <div class="form-group col-2">
                                        <input type="time" class="form-control" id="time" placeholder="01:00 pm">
                                    </div>
                                    <p class="my-auto">to</p>
                                    <div class="form-group col-2">
                                        <input type="time" class="form-control" id="time" placeholder="03:00 pm">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col">
                                <div class="form-row my-auto">
                                    <div class="form-group col-md-4">
                                        <label for="Location">Location</label>
                                        <input type="text" class="form-control" id="Location" placeholder="Location">
                                    </div>
                                    <div class="form-group col-2">
                                        <label for="roomsize">Room Size</label>
                                        <input type="text" class="form-control" id="roomsize">
                                    </div>
                                    <div class="form-group col-2 my-auto map ">
                                        <label>
                                        <input type="radio" class="" name="list" id="roomsize">
                                        <span class="mapp map1"><i class="fa fa-map fa-2x"></i></span>
                                        </label>
                                        <label>
                                        <input type="radio" class="" name="list" id="roomsize" checked>
                                        <span class="mapp map2"><i class="fa fa-list fa-2x"></i></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="avllocation p-3 m-3">
                                <p class="avail">Available Locations</p>
                                <div class="locli" *ngFor="let loc of availableLOc">
                                    <div class=" row">
                                        <div class="col-4 a ">
                                            <span>{{ loc.title }}</span><br>{{ loc.size }}&nbsp;&nbsp;{{ loc.pax }}&nbsp;&nbsp;{{ loc.price }}
                                        </div>
                                        <div class="col a mr-3">{{ loc.address }}</div>
                                        <div class="col-2 a">
                                            <!-- <button class="btn btn-primary">+ Add</button> -->
                                            <label class="m-0 p-0">
                                                <p class="btn btn-primary m-0" *ngIf="!loc.checked">+ Add</p>
                                                <p class="m-0" *ngIf="loc.checked" style="font-size: large;">X</p>
                                                <input type="checkbox" name="add" id="" [(ngModel)]="loc.checked"
                                                    ngDefaultControl />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group col-md-6">
                                <label for="org">Organiser</label>
                                <div id="org">
                                    <label for="ti" class="con">&nbsp;Self
                                        <input type="radio" id="ti" name="organiser" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="title1" class="con">&nbsp;Add Co-organiser
                                        <input type="radio" id="title1" name="organiser">
                                        <span class="checkmark"></span>
                                    </label>
                                </div><br>
                                <div class="chipsOrg">
                                    <mat-chip-list #chipList aria-label="Organiser selection">
                                        <input class="form-control" placeholder="New fruit..."
                                            [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur"
                                            (matChipInputTokenEnd)="add($event,'orga')">
                                    </mat-chip-list>
                                    <mat-chip class="chip" *ngFor="let org of Organiser" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove(org)">
                                        {{org.name}}
                                        <!-- <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon> -->
                                        <span class="material-icons" matChipRemove *ngIf="removable">
                                            &nbsp;&nbsp;clear
                                        </span>
                                    </mat-chip>
                                </div>
                                <div class="chipsOrg mt-3">
                                    <label for="chipList">Add Attendees</label>
                                    <mat-chip-list #chipList aria-label="Add Attendees">
                                        <input class="form-control" placeholder="Add Attendees..."
                                            [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur"
                                            (matChipInputTokenEnd)="add($event,'atte')">
                                    </mat-chip-list>
                                    <mat-chip class="chip" *ngFor="let att of Attendees" [selectable]="selectable"
                                        [removable]="removable" (removed)="remove1(att)">
                                        {{att.name}}
                                        <!-- <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon> -->
                                        <span class="material-icons" matChipRemove *ngIf="removable">
                                            &nbsp;&nbsp;clear
                                        </span>
                                    </mat-chip><br>
                                    <div class="form-row">
                                        <div class="form-group col-md-2 m-0 p-0 my-auto">
                                            <label class="switch my-auto ml-2" id="switch">
                                                <input type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="form-group col my-auto">
                                            <label for="switch" class="m-3 allow"><span>Allow Attndees to Invite other</span></label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                                <div class="form-group col-2 mt-3">
                                    <mat-label>Reminder</mat-label>
                                    <mat-select class="form-control" [(value)]="sel">
                                        <mat-option>None</mat-option>
                                        <mat-option value="Never">Never</mat-option>
                                        <mat-option value="option2">Option 2</mat-option>
                                        <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                </div>
                                <div class="form-group col-2 mt-3">
                                    <mat-label>Recurring Metting</mat-label>
                                    <mat-select class="form-control" [(value)]="sel">
                                        <mat-option>None</mat-option>
                                        <mat-option value="Never">Never</mat-option>
                                        <mat-option value="option2">Option 2</mat-option>
                                        <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                </div>

                               <div class="container-fluid">
                                <div class="row repeat">
                                    <div class="col-4"><mat-label >Repeat Every</mat-label></div>
                                    <div class="col"><label for="week">Repeat On</label></div>
                                </div>
                                <div class="row repeat-result ml-1">
                                    <div class="form-row w-100">
                                        
                                        <div class="form-group col-2">
                                        <mat-select class="form-control" [(value)]="sel">
                                            <mat-option>None</mat-option>
                                            <mat-option value="Never">Never</mat-option>
                                            <mat-option value="option2">Option 2</mat-option>
                                            <mat-option value="option3">Option 3</mat-option>
                                        </mat-select>
                                        </div>
                                        <div class="form-group col-2">
                                            <mat-select class="form-control" [(value)]="sel">
                                                <mat-option>None</mat-option>
                                                <mat-option value="Never">Never</mat-option>
                                                <mat-option value="option2">Option 2</mat-option>
                                                <mat-option value="option3">Option 3</mat-option>
                                            </mat-select>
                                        </div>
                                        <div class="form-group col my-auto">
                                            
                                            <div id="week">
                                                <label>
                                                <input type="checkbox" name="sunday" id="s">
                                                <span class="sli">&nbsp;S</span>
                                            </label>
                                                <label>
                                                <input type="checkbox" name="monday" id="m">
                                                <span class="sli">M</span>
                                            </label>
                                                <label >
                                                <input type="checkbox" name="tue" id="T">
                                                <span class="sli">&nbsp;T</span>
                                            </label>
                                                <label>
                                                <input type="checkbox" name="wed" id="w" checked>
                                                <span class="sli">W</span>
                                            </label>
                                                <label>
                                                <input type="checkbox" name="thu" id="th">
                                                <span class="sli">&nbsp;T</span>
                                            </label>
                                                <label>
                                                <input type="checkbox" name="fri" id="f">
                                                <span class="sli">&nbsp;F</span>
                                            </label>
                                                <label>
                                                <input type="checkbox" name="sat" id="sa">
                                                <span class="sli">&nbsp;S</span>
                                            </label>
                                            </div>
                                        </div>
                                </div>
                                </div>

                               </div>
                               <div class="end p-3">
                                   <label for="">Ends</label>
                                   <div class="row"></div>
                                   <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="date"><input type="radio" name="end" id="" value="on" checked> On</label>
                                        <div class="form-control date">
                                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1"
                                                placeholder="5/13/2020">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="date"><input type="radio" name="end" id="" value="after">After</label>
                                        <div class="form-control date">
                                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2"
                                                placeholder="5/13/2020">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </div>
                                    </div>
                                   </div>
                               </div>
                               <div class="notice m-3">
                                    <i class="fa fa-info-circle d-inline fa-lg"></i>&nbsp;<p class="d-inline">{{notice[0].notice}}</p><br>
                                    <div class="row mt-2">
                                        <div class="col d-inline" *ngFor="let aa of notice[0].address">
                                            <span>{{aa.add1}}</span><br><span>{{aa.date}}</span>
                                        </div>
                                    </div>
                               </div>
                               <div class="meetingcost m-3">
                                   <h4>Meeting Cost</h4>
                                   <div class="row tables" >
                                       <table class="table">
                                           <tr>
                                               <th>LOCATION</th>
                                               <th>ROOM SIZE</th>
                                               <th>RATE</th>
                                               <th>TIME</th>
                                               <th>PRICE</th>
                                           </tr>
                                           <tr *ngFor="let meet of meetcost">
                                               <td>{{ meet.location }}</td>
                                               <td>{{ meet.roomsize }}</td>
                                               <td>&#8377;{{ meet.rate }}/{{ meet.priod }}mins</td>
                                               <td>{{ meet.time }}</td>
                                               <td>{{ meet.price }}</td>
                                           </tr>
                                       </table>
                                       <hr style="width:100%;height: 2px; text-align:left;margin-left:0; color:rgb(54, 51, 51);" >
                                       <table class="sub table">
                                           <tr>
                                               <th>Sub Total: </th>
                                               <th class="th">&#8377;{{ meettotal }}</th>
                                           </tr>
                                           <tr>
                                               <th >Grand Total (incl. of Taxes):</th>
                                               <th class="th">&#8377;{{ meettotal }}</th>
                                           </tr>
                                       </table>
                                   </div>
                               </div>
                            
                        </form>
                    </div>
                    <button class="btn create">Create Booking</button>
                    <button class="btn can">&nbsp;Cancle&nbsp;</button>
                </div>
            </div>
        </div>
    </mat-sidenav-container>
</div>