.maincard{
  border: none;
}
.log{
  margin-top: 190px !important;
}
.ti{
  font-size: 40px;
}
label{
  font-weight: 700;
  span{
    font-weight: 300;
  }
}
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-sidenav {
    width: 100px;
    margin: 20px;
    border-radius: 23px;
    background-color: #192033;
    ul{
      list-style: none;
      text-decoration: none;
      li{
        margin-bottom: 20px;
        margin-top: 30px;
        color:#ffff !important;
      }
    }
    i{
      color:#ffff;
    }
    .fa-map-marker{
      color:red;
    }
  }  
  .date{
      padding-top: 0;
      width: fit-content;
      input{
          margin:auto;
          outline: none;
          border: none;
      }
  }
  .avllocation::-webkit-scrollbar {
    width: 5px;
    border-radius: 1px;
  }
  .avllocation::-webkit-scrollbar-thumb {
      background-color: rgb(180, 180, 180);
   // background-image: linear-gradient(to bottom, #f89700, #eeb94a, #e9d583, #ececbd, #fcfff5);
    border-radius: 10px;
    //outline: 1px solid rgb(235, 120, 13);
  }
  .avllocation{
      width: fit-content;
      height:500px;
      overflow: auto;
      background-color: #f3f4fc;
      border-radius: 5px;
    .avail{
        font-size: 25px;
        font-weight: 500;
        margin-left: 15px;
    }
    .row{
        margin: 10px;
        padding: 20px;
        background-color: #ffff;
        border-radius: 5px;
        height: fit-content;
        .a{
            font-size: 12px;
            word-spacing: 5px;
            padding: 0;
            height: fit-content;
            span{
                font-size: large;
                font-weight: 600;
            }
            input[type=checkbox]{
                appearance: none;
            }
            label{
                height: fit-content;
            }
        }
        
    }
  }
  
// radio button
.con {
    
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .con input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .con:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .con input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .con input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .con .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .material-icons{
    font-family: 'Material Icons' !important;
}
.example-chip-list {
    width: 100%;
  }
  .chip{
      margin: 5px;
      color: #8ca0f8;
      background-color: #eff1fb;
      border: 1px solid #a7b7fd;
      border-radius: 10px;
      span{
          color:#0631f1;
          margin: auto;
          font-size: medium;
          font-weight: 700;
          
      }
  }

  // toggel button

  .switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(253, 252, 252);
    border: 2px solid #7691ff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 3px;
    background-color: #7691ff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(240, 243, 245);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .allow{
      font-size:x-large;
  }


  //week selector

  #week{
    label{
      //background-color: red;
      margin-left: 25px;
      padding: 12px;
      
      cursor: pointer;
      color:#7691ff;
      font-size: 20px;
      font-weight: 300;
      position: relative;
      .sli{
        position: absolute;
        cursor: pointer;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        width: 45px;
        height: auto;
        padding: 10px;
        
        background-color:transparent;
        border: 2px solid #7691ff;
        border-radius:100%;
        -webkit-transition: .4s;
        transition: .4s;
      }
      // .sli:before{
      //   position: absolute;
      //   content: "";
      //   height: 26px;
      //   width: 26px;
      //   left: 3px;
      //   bottom: 3px;
      //   background-color: #7691ff;
      //   -webkit-transition: .4s;
      //   transition: .4s;
      // }
      input{
        appearance: none;
      }
      input:checked + .sli {
        background-color: #7691ff;
        color:#ffff;
      }
      input:focus + .sli  {
        box-shadow: 0 0 1px #7691ff;
      }
      input:checked + .sli:before {
        -webkit-transform: translateX(33px);
        -ms-transform: translateX(33px);
        transform: translateX(33px);
      }
    }
  }

  //notice
  .notice{
    width: 77%;
    padding: 40px;
    //border: 1px solid red;
    border-radius: 10px;
    background-color: #ffaf00;
    color:#ffff;
    font-family: monaco, Consolas, "Lucida Console", monospace;
     font-size: 15px;
      font-style: normal;
       font-variant: normal;
        font-weight: 200;
         line-height: 26.4px;
         
    i{
      color:#ffff;
    }
  }

  //meet cost table
.tables{
  border-radius: 20px;
  padding: 20px;
  background-color: #f7f1f1;
}
  .table td, .table th{
    font-size: large;
    border-top:none;

  }
  .sub{
    //float: right;
   margin-right: 70px;
    text-align: right;
    font-size: large;
    border-top:none;
    //width: fit-content;
    .th{
      width: 54px;
    }
  }

  .can{
    margin: 20px;
    float: right;
    border: 2px solid #7791ff;
    padding:15px;
    color:#7791ff;
  }
  .create{
    float: right;
    margin: 20px;
    padding: 15px;
    color:#ffff;
    //border: 2px solid #aebdfe;
    background-color:#7791ff;
    box-shadow: 1px 5px 4px 1px #7790ff3d;
  }

  .meetingcost{
    h4{
      font-size: 20px;
      font-weight: 700;
    }
  }


  ///map or list toggle
  .map{
    margin-bottom: 40px !important;
    label{
      position: relative;
     // padding: 10px;
      margin: 10px;
      //border:1px solid #7791ff;
      span{
        position: absolute;
        //border:1px solid #808391;
        top: 2;
        left: 2;
        bottom: 2;
        right: 2;
        // width: 20px;
        // height: 20px;
        padding: 12px;
        //margin-left: 40px;
        //background-color: red;
      }
     .map1{
       border: 1px solid rgb(197, 193, 193);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
     }
      .map2{
       border: 1px solid rgb(197, 193, 193);
        margin-left: 34px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      input{
        appearance: none;
      }
      input[type=radio]:checked + span.mapp {
        background-color: #7691ff;
        color:#ffff;
      }
      input[type=radio]:focus + .mapp  {
        box-shadow: 0 0 1px #7691ff;
      }
      input[type=radio]:checked + .mapp:before {
        background-color: red;
      }
    }
  }